@* Definiuje model dla widoku jako pojedynczy obiekt Exercise. *@
@model BeFit.Models.Exercise

@{
    // Ustawia tytuł strony.
    ViewData["Title"] = "Edytuj Typ Ćwiczenia";
}

<h1>@ViewData["Title"]</h1>

<h4>Typ Ćwiczenia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* Formularz wysyłający dane do akcji Edit kontrolera Exercises. *@
        <form asp-action="Edit">
            @* Kontener na komunikaty błędów walidacji całego modelu. *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* Ukryte pole przechowujące ID edytowanego ćwiczenia. *@
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3"> @* Dodano mb-3 dla marginesu dolnego *@
                @* Etykieta dla pola Name. *@
                <label asp-for="Name" class="control-label"></label>
                @* Pole wprowadzania dla pola Name. *@
                <input asp-for="Name" class="form-control" />
                @* Miejsce na komunikat błędu walidacji dla pola Name. *@
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3"> @* Dodano mb-3 dla marginesu dolnego *@
                @* Etykieta dla pola Description. *@
                <label asp-for="Description" class="control-label"></label>
                @* Pole tekstowe (textarea) dla pola Description. *@
                <textarea asp-for="Description" class="form-control"></textarea>
                @* Miejsce na komunikat błędu walidacji dla pola Description. *@
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* Przycisk zapisujący zmiany. *@
                <input type="submit" value="Zapisz" class="btn btn-primary" />
                @* Link powrotu do listy typów ćwiczeń. *@
                <a asp-action="Index" class="btn btn-secondary">Powrót do Listy</a>
            </div>
        </form>
    </div>
</div>

@* Sekcja włączająca skrypty walidacji po stronie klienta. *@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
